<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="Data Analytics - CA - What is this team working on?"
               description="Data Analytics - CA - What is this team working on?"
               author="Accenture"
               author_affiliation="Accenture"
               height="100">

    <!-- Commonly used features -->
    <Require feature="dynamic-height" />
    <Require feature="jive-core-v3" />
    <Require feature="osapi"/>
    <Require feature="settitle"/>
    <Require feature="views" />
    <Require feature="jquery-1.6" />
  </ModulePrefs>


  <!-- To begin development, remove the hello view and uncomment the home and canvas views below -->
  <Content type="html" view="home,canvas" href="dataAnalyticsCaB.html" />  -->


  <Content type="html" preferred_height="400" view="home" href="dataAnalyticsCaB.html" />
  <Content type="html" preferred_height="400" view="canvas" href="dataAnalyticsCaB.html" />

</Module>